/********************************
General Styles
*******************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    text-align: center;
    background: #121212;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

h1, h2, p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

input,
button {
    outline: none;
    border: none;
}


/********************************
Layout
*******************************/
.container {
    max-width: 550px;
    margin: 0 auto;
}

header {
    background-image: url(../img/THJJRUhNlEc.jpg);
    background-blend-mode: color;
    background-color: rgba(0,0,0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 5em;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Searchbar*/
.searchbar {
    margin-top: -1.5em;
    width: 100%;
    max-width: 462px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#search-input,
#search-btn {
    padding: 1em 3em;
    display: block;
}

#search-input {
    width: 100%;
    background: #2E2E2F;
    color: white;
}

#search-input::placeholder {
    color: white;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
}

#search-btn {
    width: 100%;
    background: #4B4B4B;
    color: white;
    letter-spacing: 0.5px;
}

#search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: 5px;
}

/*Movie Card*/
.movie-container {
    margin-top: 1.5em;
    position: relative;
    height: 75vh;
}

.movies-placeholder {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie-card {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-top: 1.5px solid #2C2C2C;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie-card:first-of-type {
    border-top: none;
}
.movie-card:last-of-type {
    border-bottom: none;
}

.movie-card,
.card-heading,
.card-subheading {
    display: flex;
    align-items: center;
    text-align: left;
}

.card-heading,
.card-subheading {
    margin-bottom: 0.5em;
}

.card-img {
    height: 148px;
    width: 99px;
    margin-right: 1em;
}

.card-heading__stars-img {
    width: 15px;
    height: 15px;
    margin-right: 0.35em;
}

.card-heading__stars {
    display: flex;
    align-items: center;
}

.card-heading__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 0.5em;
}

.card-subheading__watchlist {
    display: flex;
    align-items: center;
}
.card-subheading__watchlist-btn-icon {
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
}

.card-subheading__watchlist-btn {
    display: inline-block;
    background: none;
    color: inherit;
    padding: 0.5em;
    display: flex;
    align-items: center;
    margin: 0;
    border: 2px solid transparent;
}

.card-subheading__watchlist-btn:hover,
.card-subheading__watchlist-btn:focus {
    cursor: pointer;
    opacity: 0.75;
    border-color: white;
}

.card-heading > p,
.card-subheading > p,
.card-body > p {
    font-size: 0.75rem;
}

.card-subheading__runtime,
.card-subheading__genre {
    margin-right: 1em;
}

.card-body__paragraph {
    line-height: 1.75;
    color: #A5A5A5;
}
    
/********************************
Media Queries
*******************************/

@media screen and (min-width: 675px) {
    h1 {
        font-size: 2.15rem;
        margin-bottom: 0;
    }

    nav > a {
        font-size: 1.5rem;
    }

    nav {
        justify-content: space-between;
        flex-direction: row;
    }

    /*Searchbar*/
    .searchbar {
        width: 90%;
        max-width: 500px;
        border-radius: 5px;
    }

    /*Movie Container*/
    .placeholder-icon {
        width: 70px;
        height: 61.25px;
    }

    .placeholder-text {
        color: #2E2E2F;
        font-size: 1.25rem;
    }

    #search-input,
    #search-btn {
    display: inline-block;
    }   

    #search-input {
        width: 75%;
    }

    #search-btn {
        width: 25%;
        margin-left: -0.5em;
    }

    #search-icon {
        left: 20px;
    }

}