/********************************
General Styles
*******************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    background: #121212;
}

h1 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 800;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

input,
button {
    outline: none;
    border: none;
}

/********************************
Layout
*******************************/
.container {
    max-width: 550px;
    margin: 0 auto;
}

header {
    background-image: url(../img/THJJRUhNlEc.jpg);
    background-blend-mode: color;
    background-color: rgba(0,0,0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 5em;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Searchbar*/
.searchbar {
    margin-top: -1.5em;
    width: 100%;
    max-width: 462px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#search-input,
#search-btn {
    padding: 1em 3em;
    display: block;
}

#search-input {
    width: 100%;
    background: #2E2E2F;
    color: white;
}

#search-input::placeholder {
    color: white;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
}

#search-btn {
    width: 100%;
    background: #4B4B4B;
    color: white;
    letter-spacing: 0.5px;
}

#search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: 5px;
}

/********************************
Media Queries
*******************************/

@media screen and (min-width: 675px) {
    h1 {
        margin-bottom: 0;
    }

    nav {
        justify-content: space-between;
        flex-direction: row;
    }

    /*Searchbar*/
    .searchbar {
        width: 90%;
        border-radius: 5px;
    }

    #search-input,
    #search-btn {
    display: inline-block;
    }   

    #search-input {
        width: 65%;
    }

    #search-btn {
        width: 25%;
        margin-left: -0.5em;
    }

    #search-icon {
        left: 33px;
    }

}